<mat-card class="login-card">
<form
  *ngIf="!(authenticationService.userData | async)"
  #loginForm="ngForm"
  (ngSubmit)="onSubmit($event.submitter.name)"
>
  <div>
    <mat-form-field class="example-full-width">
      <input matInput 
        placeholder="Enter your email"
        [(ngModel)]="email"
        name="email"
        required
      >
    </mat-form-field>
  </div>


  <div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
        [(ngModel)]="password"
        name="password"
        required
      >
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>

    </mat-form-field>
  </div>

  <div *ngIf="error | async" style="margin-bottom: 16px; color: #c4001d; font-size: 0.9rem;">
    {{ error | async }}
  </div>

  <button mat-raised-button color="primary"
    name="signin" type="submit">Login</button>

  <button mat-flat-button
    name="signup" type="submit">Sign up</button>
</form>

<div *ngIf="authenticationService.userData | async">
<h1>Hello {{ (authenticationService.userData | async)?.email }}</h1>
<button (click)="goToEditor()">Continue</button>
<button (click)="signOut()">Logout</button>
</div>

</mat-card>
